{% extends 'admin.html' %}

{% block css %}
.form-container {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    width: 80%; 
    margin: auto;
}

form {
    width: 100%; 
}

form input,
form select,
form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form textarea {
    resize: none;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #242424;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
}

form button:hover {
    background-color: #333232;
}

form label {
    display: block;
    margin-bottom: 0.2em;
    color: #333232;
    font-weight: lighter;
}

form img {
    width: 100px;
    height: 100px;
    object-fit: fit-content; 
    margin-bottom: 20px;
}

{% endblock %}

{% block admin %}
    <div class="form-container">
        <h1>Schedule Show</h1>
        <form action={{url_for("schedule.create_schedule")}} method="POST">

            Movie
            {% if movies %}
                <select name="movie" id="movie">
                {% for movie in movies %}
                    <option value="{{movie.id}}" 
                        {% if temp.movie %}
                            {% if temp.movie|int == movie.id %}
                                selected 
                            {% endif %}
                        {% endif %}
                    >{{movie.title}}</option>
                {% endfor %}
                </select><br><br>
            {% else %}
                <br><br>
                You haven't created any movies. <a href="{{url_for("movie.create_movie")}}">Create here</a><br><br>
            {% endif %}

            Screen
            {% if screens %}
                <select name="screen">
                {% for screen in screens %}
                    <option value="{{screen.id}}"
                    {% if temp.screen %}
                        {% if temp.screen|int == screen.id %}
                            selected 
                        {% endif %}
                    {% endif %}
                    >{{screen.name}}</option>
                {% endfor %}
                </select><br><br>
            {% else %}
                <br><br>
                You haven't created any screens. <a href="{{url_for("screen.create_screen")}}">Create here</a><br><br>
            {% endif %}
            
            Price
            {% if prices %}
                <select name="price">
                    {% for name, uniqueid in prices %}
                        <option value="{{uniqueid}}"
                            {% if temp.price %}
                                {%if temp.price == uniqueid %}
                                    selected
                                {% endif %}
                            {% endif %}
                        >{{name}}</option>
                    {% endfor %}
                </select><br><br>
            {% else %}<br>
                You haven't created any price so create it before movie forward <a href="{{url_for("schedule.create_price")}}">Create here</a><br><br>
            {% endif %}

            Start Time 
            <input type="datetime-local" name="starttime" id="starttime" value="{{temp.starttime}}" min={{minTime}}><br><br>
            <i>Endtime gets auto updated on start time change with addition of movie duration</i><br><br>
            End Time 
            <input type="datetime-local" name="endtime" id="endtime" value="{{temp.endtime}}"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        async function fetcher(starttime, movieId){
            try{
                const response = await fetch("{{url_for('schedule.calculate_endtime')}}",{
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ "starttime": starttime,
                    "movieId": movieId
                    })
                }); 
                if(!response.ok){
                    console.log("Seems Network problem");
                    return;
                }
    
                const result = await response.json();
                return result
            } catch(error) {
                console.log("Problem fetching: ", error);
            }
        }
        function getStarttime(){
            starttime = document.getElementById("starttime")
            endtime = document.getElementById("endtime")
            movieId = document.getElementById("movie")
            if(starttime.value!=''){
                movieId.addEventListener("change", ()=>{
                    let res = fetcher(starttime.value, movieId.value)
                    res.then(function(result){
                        endtime.value = result['endtime']
                    })
                })
            }
            starttime.addEventListener("change", ()=>{
                let res = fetcher(starttime.value, movieId.value)
                res.then(function(result){
                    endtime.value = result['endtime']
                })
            })
        }
    
        document.addEventListener("DOMContentLoaded", ()=>{
            getStarttime();
        })
    </script>
{%endblock%}


