{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for msg in messages %}
            <li>{{msg}}</li>
        
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<style>
    table,th, td{
        border:1px solid black;
        border-collapse:collapse;
        text-align:center;
    }
    th{
        background-color: #ddd;
    }
    td{
        padding:7px;
    }
    
</style>

<h1>Price List</h1>
<a href="{{url_for("schedule.create_price")}}">Add</a>&nbsp;<br><br>
{% if prices %}
<table style="width:100%;"><br>
    <thead>
        <tr>
            <th>Name</th>
            <th colspan=3>Price</th>
            <th>Status</th>
            <th colspan=2>Actions</th>
        </tr>
        <tr>
            <th></th>
            <th>CLASSIC</th>
            <th>BUSINESS</th>
            <th>EXECUTIVE</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for price in prices %}
        <tr> 
            <td>{{price.name}}</td>
            <td>{{price.CLASSIC}}</td>
            <td>{{price.BUSINESS}}</td>
            <td>{{price.EXCLUSIVE}}</td>
            <td>{{price.status}}</td>
            <td><a href="{{url_for("schedule.edit_price", id=price.uniqueid)}}">Edit</a></td>
            <td><a href="{{url_for("schedule.delete_price", id=price.uniqueid)}}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<br><br>
No prices yet. Goto "Add" to create price group.
{% endif %}


    
<br>
<br>