@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#F7F7F7;
    --secondary:#323232;
}

header{
    /* background-color: var(--primary);
    color:var(--secondary); */
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index:999;
    width:100%;
    backdrop-filter: blur(10px); 
}

header .navbar-mobile-parent{
    display: none;
}

header .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 70px;
    padding:10px 0;
}

header .navbar-brand{
    text-decoration: none;
    font-size:25px;
    font-weight: 600;
    color:white;
    font-family: Poppins;
}

header .nav-items{
    display: flex;
    font-size: 15px;
    font-family: Arial;
    font-weight: 700;
}

header .nav-items li{
    list-style: none;
    margin-left:2rem;
    padding:9px 8px;
}

header .nav-items li:hover:not(:last-child){
    /* background-color: beige; */
    text-decoration: underline 2px #387462;
}

header .nav-items li a{
    text-decoration: none;
    color:#d1d5e1;
}

header .login-btn{
    border:1px solid #848488;
    padding:9px 18px;
}
header .login-btn:hover{
    background-color: white;
    color:#000;
}

footer{
    width:100%;
    background-color: #000;
}

footer .footer{
    color:white;
    font-family: Arial;
    font-size:15px;
    text-align: center;
    padding:7px 0;
    text-transform: uppercase;
}

footer .footer span{
    font-weight: 600;
    color:white;
    font-family: Poppins;
    text-transform: lowercase;
}

/*for error*/
.error{
  display: block;
  margin: 0 20px 20px 20px;
  background-color: rgba(21, 21, 21, 0.3);
  font-size:15px;
  font-family: poppins;
  padding:5px;
  border-radius: 5px;
}
.error span{
  padding: 0 10px;
  overflow: hidden; 
}
.error .x{
  float: right;
  padding: 0 7px; 
  cursor: pointer;
}






@media screen and (max-width: 600px) {
    header .navbar{display: none;}

    header .navbar-mobile-parent{
        display: block;
    }
    header .navbar-mobile-parent .collapse-navbar {
        display: none; 
    }

    header .navbar-mobile-parent .collapse-navbar.show{
        display: flex;
    }
    
    header .navbar-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:0 50px;
        padding:5px 0;
    }

    header .navbar-mobile .nav-toggle{
        color:white;
        font-size: 20px;
        /* border: 1px solid white; */
        padding:3px 5px;
    }
    
    header .navbar-mobile-parent .collapse-navbar .nav-items{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .navbar-mobile-parent .collapse-navbar .nav-items li{
        font-size:17px;
        margin: 10px 0;
    } 
}










@media screen and (max-width: 400px) {  
    header .navbar-mobile{
        margin:0 30px;
    }

    header .navbar-mobile-parent .collapse-navbar .nav-items li{
        font-size:16px;
        margin: 7px 0;
    }
}