{% extends "admin.html" %}

{% block styles %}
.screen-create-container{
    font-family:Poppins;
}
h1{
    margin-bottom:20px;
}
form {
    width: 100%; 
}

form input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #242424;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
}

form button:hover {
    background-color: #333232;
}

form label {
    display: block;
    margin-bottom: 0.2em;
    color: #333232;
    font-weight: 300;
}
{%endblock%}

{%block subMenu%}
<li><a href="{{url_for('schedule.create_price')}}">Create</a></li>
{%endblock%}

{%block content%}
<section class="screen-create-container">
    <h1>Create Screen</h1>
    <form action={{url_for("screen.create_screen")}} method="POST">

        <label>Name<label> <input type="name" name="name">
        <button type="submit">Submit</button>
    </form>

    <br><br>
</section>
{%endblock%} 