{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for msg in messages %}
            <li>{{msg}}</li>
        
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<h1>Edit Screen</h1>
<form action={{url_for("screen.edit_screen", id=screens.id)}} method="POST">
    Name <input type="name" name="name" value="{{screens.name}}">
    <button type="submit">Update</button>
</form>

<br><br>
<a href="{{url_for("screen.create_screen")}}">Back to Screen</a>
