{% extends "admin.html" %}

{% block styles %}
.profile{
    height:50%;
    font-family: Arial;
    font-size:1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile span{
    font-weight: 600;
}
{%endblock%}

{%block subMenu%}
<li><a href="{{url_for('authentication.update')}}">Update</a></li>
<li><a href="{{url_for('authentication.change_password')}}">Change Password</a></li>
<li><a href="{{url_for('authentication.delete')}}">Delete</a></li>
{%endblock%}

{%block content%}
<section class="profile">         
    <p>Username: <span>{{user.username}}</span></p>
    <p>Email: <span>{{user.email}}</span></p>
    <p>Created at: <span>{{user.created_at}}</span></p>
    <p>Updated at: <span>{{user.updated_at}}</span></p>
</section>
{%endblock%}