{% extends 'admin/admin.html' %}

{% block css %}
.profile-container{
    width:100%;
    background-color: #444;
    height:70vh;
}
.profile-container h2{
    padding:20px;
    font-family: Roboto;
}
.profile-container p{
    padding: 0 20px;
    margin-bottom:10px;
    font-size: 15px;
    font-weight: 500;
}
.profile-container p span{
    font-style: italic;
    font-weight: 300;
}
.profile-container .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-container a{
    width: fit-content;
    text-decoration: none;
    color:white;
    margin: 5px 0;
    padding: 5px 10px;
}
.profile-container a:hover{
    background-color: #555;
    color:#fff;
}
{% endblock %}

{% block admin %}
    <div class="profile-container">
        <h2>Welcome, {{user.name}}</h2>

        <p>Username: <span>{{user.username}}</span></p>
        <p>Email: <span>{{user.email}}</span></p>
        <p>Created at: <span>{{user.created_at}}</span></p>
        <p>Updated at: <span>{{user.updated_at}}</span></p>
        <!--<div class="buttons">
            <a href="{{url_for('authentication.change_password')}}">Change Password</a>
            <a href="{{url_for('authentication.delete')}}">Delete</a>
        </div>-->
    </div>
{%endblock%}