{% extends 'admin/admin.html' %}

{% block css %}
.form-container{
    background-color:white;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
}
form{
    width:80%;
}
form input{
    width:100%;
    box-sizing:border-box;
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
label{
    display:block;
    margin-bottom:0.2em;
    color:#333232;
    font-weight:lighter;
}
form button{
    width:100%;
    padding:10px;
    background-color: #242424;
    color: white;
    font-size:16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
}
form button:hover{
    background-color:#333232;
}
{% endblock %}

{% block admin %}
<div class="form-container">
    <h1>Change Password</h1>
    <form action="{{url_for('authentication.change_password')}}" method="POST">

        <label>Password</label> <input type="password" name="password"><br>
        <label>New Password</label> <input type="password" name="newPassword"><br>
        <label>Confirm Password</label> <input type="password" name="confirmPassword"><br>
        <button type="submit">Change</button>
    </form><br><br>
</div>
{%endblock%}