{% extends "base.html" %} 

{% block head %}
    <link rel="stylesheet" href="{{url_for('payment.static', filename='css/payment_home.css')}}">
{% endblock %}
<!--<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>-->
{% block content%}

<section class="payment-container">
    <div class="movie-detail">
        <p class="heading">{{movieInfo[0]['title']}}</p>
        <div class="sub-heading">
            <span class="movie-info">{{movieInfo[0]['screen']}} | {{movieInfo[0]['date']}} | {{movieInfo[0]['time']}} | {{movieInfo[0]['duration']}} min </span>
        </div>
    </div>
    <div class="seat-info">
        <table>
            {% for m in movieInfo%}
                <tr>
                    <td>
                        <span><b>Seat Id</b>: {{m['seat_id']}}</span>&nbsp;|&nbsp;
                        <span><b>Seat Location</b>:</span>&nbsp;
                            <span>Row: {{m['seat_row']}}</span>&nbsp;
                            <span>Column: {{m['seat_column']}}</span>&nbsp;
                        </div>
                    </td>
                </tr>
        {%  endfor %}
        </table>
    </div>
    <div class="price-container">
        <p class="price">Total: Rs. <span id="totalprice">{{totalPrice}}</span></p>
        <div class="payment-options">
            <form action="{{url_for("payment.khalti.initiate_payment")}}" method="post">
                <button type="submit" id="khalti-payment-button">Pay with Khalti</button>
            </form>
            <form action="{{url_for("payment.mock.initiate_payment")}}" method="post">
                <button type="submit" id="mock-payment-button">Mock Pay</button>
            </form>
        </div>
    </div>
</section>
<!--
<div class="container">
    <div class="payment-details">
        <h2>Payment Details</h2>
        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
        <b>Tickets: </b><br>
        <div class="movieContainer">
        {% for m in movieInfo%}
            <div class="movie">
                <span>Movie: {{m['title']}}</span><br>
                <span>Duration: {{m['duration']}} min</span><br>
                <span>Date: {{m['date']}}</span><br>
                <span>Time: {{m['time']}}</span><br>
                <span>Seat Id: {{m['seat_id']}}</span><br>
                <span>Screen: {{m['screen']}}</span><br>
                <div style="border: 1px solid white;display:inline-block;margin:5px 0;">
                    <b>Seat Location</b><br>
                    <span>Seat Row: {{m['seat_row']}}</span><br>
                    <span>Seat Column: {{m['seat_column']}}</span><br>
                </div>
            </div>
        {% endfor %}
    </div>
    <p>Total Price: Rs. {{totalPrice}}</p>
    </div>
    <div class="payment-button-container">
        <form action="{{url_for("payment.khalti.initiate_payment")}}" method="post">
            <button type="submit" id="khalti-payment-button">Pay with Khalti</button>
        </form>
        <form action="{{url_for("payment.mock.initiate_payment")}}" method="post">
            <button type="submit" id="mock-payment-button">Mock Pay</button>
        </form>
    </div>
</div>
-->
{% endblock %}