{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('home.static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<section class="content">
    {% if currentMovies %}
    {% for movie in currentMovies %}
    <div class="slide">
        <div class="carousel">
            <img src="{{url_for('static', filename=movie.banner_url)}}" class="carousel-image">
            <div class="info">
                <h1>{{movie.title}}</h1>
                <a href="{{url_for("home.movie", id=movie.id)}}" class="trailer-btn">Buy Tickets</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {%endif%}
</section>

<section class="movies-container">
    {% if currentMovies %}
    <h1 class="movie-head-brand">Movies</h1>
    <div class="movies">
        {% for movie in currentMovies %}
        <a href="{{url_for("home.movie", id=movie.id)}}">
            <div class="movie">
                <img src="{{url_for("static", filename=movie.poster_url)}}">
                <div class="movie-detail">
                    <h3>{{movie.title}}</h3>
                    <span>{{movie.certificate.value}} </span>&nbsp;|&nbsp;<span>{{movie.duration}}min</span>
                </div>
            </div>
        </a>
        {%endfor%}
    </div>
    {% else %}
        <p class="no-upcoming-movie">No movies</p>
    {% endif %}
</section>

<section class="upcoming-container">
    {% if upcomingMovies %}
    <h1 class="movie-head-brand">Upcoming Movies</h1>
    <div class="movies">
        {% for movie in upcomingMovies %}
        <div class="movie">
            <img src="{{url_for("static", filename=movie.poster_url)}}">
            <div class="movie-detail">
                <h3>{{movie.title}}</h3>
                <span>{{movie.certificate.value}}</span>&nbsp;|&nbsp;<span>{{movie.duration}}min</span>&nbsp;|&nbsp;<span>{{movie.release_date}}</span>
            </div>
        </div>
        {%endfor%}
    {%else%}
        <p class="no-upcoming-movie">No upcoming movies</p> 
    {%endif%}
</section>

{% endblock %}