{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('home.static', filename='css/movie.css')}}">
{% endblock %}

{%block styles%}
.movie-detail-container{
    background-image: linear-gradient(to right, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0) 100%), url('{{url_for('static',filename=movie.banner_url)}}');
}
{%endblock%}

{% block content %}


<section class="movie-detail-container">
    <img src="{{url_for('static', filename=movie.poster_url)}}" alt="{{movie.title}}">
        <div class="movie-info">
            <h1>{{movie.title}}</h1>
            <p>{{movie.certificate.value}} | {{movie.duration}} min</p>
            <p class="description">{{movie.description}}</p>
            <a href="{{movie.trailer_link}}" target="_blank">Watch Trailer</a>
        </div>
</section>

<section class="schedules">
    <h2 class="schedule-brand">Movie Schedules</h2>
    {% if movieSchedule %}
        {% for key, value in movieSchedule.items() %}
            <div class="movie-schedule">
                <h4 class="dateHead">{{key}}</h4>
                <ul>
                    {% for v in value %}
                    <li>
                        <a href="{{url_for("home.movieSeat", id=v.id)}}">
                            <p>{{v.screenref.name}}</p>
                            <p>{{v.start_time.strftime('%H:%M')}}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {%endfor%}
    {%else%}
        <p class="no-schedule">Sorry, no schedules for this movie has been assigned yet!</p>
    {%endif%}
</section>





{% endblock %}