{% extends 'base.html' %}

{% block styles %}
.seatTable{
    background:rgba(256,256,256,0.8);
    width:100%;
    height:auto;
}
.seatTable tr{
    display:flex;
    justify-content:center;
}
.screen{
    width: 40%;
    height:25px;
    background-color: grey;
    text-align: center;
    margin-bottom: 40px;
}
.seat {
    width: 45px;
    height: 45px;
    border: 1px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    background-color: grey;
    cursor:pointer;
}
.seat.GAP {
    visibility: hidden;
}
.seat.RESERVED{
    background-color:red;
}
.seat.BOOKED, .seat.HOLD{
    background-color: yellow;
}
.seat.selected{
    background-color: green;
}

.bottomTr{
    margin:20px 20px;
    display: flex;
}
.paymentButton{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.bottomTr button{
    background-color: rgb(72, 72, 239);
    font-size: large;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.bottomTr button:hover{
    background-color: blue;
}
.bottomTr .price{
    flex:1;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
}
.bottomTr .price h3{
    margin-left:20px;
}

{% endblock %}

{% block content %}
    <table class="seatTable">
        <caption><span>Movie: {{movie.title}} | Screen: {{movie.screen}} | Date: {{movie.date}} | Time: {{movie.time}} | Duration: {{movie.duration}} min</span></caption>
        <tr><td class="screen">Screen<td></tr>
        {% for row in range(highestRow) %}
            <tr>
                {% for col in range(highestColumn) %}
                    <td>
                        {% for seat in seats %}
                            {% if seat.row == row + 1 and seat.column == col + 1 %}
                                <div id="seat" data-seattype="{{seat.type}}" data-seatid="{{seat.id}}" data-status="{{seat.status}}" class="seat {{seat.type}} {{seat.status}}">{{ seat.id }}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr class="bottomTr">
            <td class="price">
                <h3>Price: <span id="totalprice">0</span></h3>
            </td>
            <td class="paymentButton">
                <button id="payment">Proceed to payment</button>
            </td>
        </tr>
    </table>

    <script>
        async function fetcher(scheduleid, seats, price){
            try{
                const response = await fetch("{{url_for('booking.json_book')}}",{
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ "scheduleid": scheduleid, "seats": seats, "price": price })
                }); 
                if(!response.ok){
                    console.log("Seems Network problem");
                    return;
                }
    
                const res = await response.json();
                return res
            } catch(error) {
                console.log("Problem fetching seats: ", error);
            }
        }
        function bookSeats(seats, price){
            let response = fetcher({{scheduleid}}, seats, price)
            response.then(function(result){
                console.log(result)
                if(result && !result.success){
                    alert(result.msg);
                    location.reload();
                } else {
                    window.location.href = "{{url_for('payment.home')}}";
                }
            })
        }
        function getSeat(){
            var seat = document.querySelectorAll("#seat");
            var totalPrice = document.getElementById("totalprice")
            const selectedSeat = [];
            var price = 0;
            seat.forEach(function(s){
                s.addEventListener("click", function(event){
                    seatid = s.dataset.seatid;
                    seatType = s.dataset.seattype;
                    if (s.dataset.status == "UNRESERVED"){
                        if (selectedSeat.indexOf(seatid) == -1){
                            if (selectedSeat.length < {{selectionLimit}}){            
                                selectedSeat.push(seatid);
                                event.target.classList.toggle("selected");
                                if(seatType=="CLASSIC"){
                                    price += {{seatPrice[0].CLASSIC | float}}
                                } else if(seatType=="BUSINESS"){
                                    price += {{seatPrice[0].BUSINESS | float}}
                                } else if(seatType=="EXCLUSIVE"){
                                    price += {{seatPrice[0].EXCLUSIVE | float}}
                                } else{
                                    alert("Invalid price value");
                                }
                            } else {
                                alert("cannot select more than this")
                            }
                        } else{
                            selectedSeat.splice(selectedSeat.indexOf(seatid), 1);
                            event.target.classList.toggle("selected");
                            if(seatType=="CLASSIC"){
                                price -= {{seatPrice[0].CLASSIC | float}}
                            } else if(seatType=="BUSINESS"){
                                price -= {{seatPrice[0].BUSINESS | float}}
                            } else if(seatType=="EXCLUSIVE"){
                                price -= {{seatPrice[0].EXCLUSIVE | float}}
                            } else{
                                alert("Invalid price value");
                            }
                        }
                    }
                    totalPrice.innerHTML = price;
                });
            });
            document.getElementById("payment").addEventListener("click", function(){
                bookSeats(selectedSeat, price);
            })
        }
        document.addEventListener("DOMContentLoaded", function() {
            getSeat()
        });
    </script>
{% endblock %}