{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('home.static', filename='css/seat.css')}}">
{% endblock %}

{% block content %}

<section class="seats-section">
    <div class="movie-detail">
        <p class="heading">{{movie.title}}</p>
        <div class="sub-heading">
            <span class="movie-info">{{movie.screen}} | {{movie.date}} | {{movie.time}} | {{movie.duration}} min</span>
            <div class="seat-color-code">
                <span class="unreserved">Unreserved</span>
                <span class="reserved">Reserved</span>
                <span class="booked">Booked</span>
                <span class="selected">Selected</span>
            </div>
        </div>
    </div>
    <div class="seats-container">
        <div class="seats">
            <table>
                <caption>
                    <img src="{{url_for('static', filename="img/screen.png")}}" class="screen">
                </caption>
                <tbody>
                    {% for row in range(highestRow) %}
                        <tr>
                            {% for col in range(highestColumn) %}
                                <td>
                                    {% for seat in seats %}
                                        {% if seat.row == row + 1 and seat.column == col + 1 %}
                                            <div id="seat" data-seattype="{{seat.type}}" data-seatid="{{seat.id}}" data-status="{{seat.status}}" class="seat {{seat.type}} {{seat.status}}">{{ seat.id }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="price-container">
            <p class="price">Price: <br>Rs. <span id="totalprice">0</span></p>
            <a clas="payment-btn" id="payment">Pay</a>
        </div>
    </div>
</section>

    <script>
        async function fetcher(scheduleid, seats, price){
            try{
                const response = await fetch("{{url_for('booking.json_book')}}",{
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ "scheduleid": scheduleid, "seats": seats, "price": price })
                }); 
                if(!response.ok){
                    console.log("Seems Network problem");
                    return;
                }
    
                const res = await response.json();
                return res
            } catch(error) {
                console.log("Problem fetching seats: ", error);
            }
        }
        function bookSeats(seats, price){
            let response = fetcher({{scheduleid}}, seats, price)
            response.then(function(result){
                console.log(result)
                if(result && !result.success){
                    //alert(result.msg);
                    Swal.fire({
                        title: 'Problem!',
                        text: ''+result.msg+'',
                        icon: 'info',
                        confirmButtonText: 'OK'
                       }).then(() => {
                            location.reload();
                       });
                } else {
                    window.location.href = "{{url_for('payment.home')}}";
                }
            })
        }
        function getSeat(){
            var seat = document.querySelectorAll("#seat");
            var totalPrice = document.getElementById("totalprice")
            const selectedSeat = [];
            var price = 0;
            seat.forEach(function(s){
                s.addEventListener("click", function(event){
                    seatid = s.dataset.seatid;
                    seatType = s.dataset.seattype;
                    if (s.dataset.status == "UNRESERVED"){
                        if (selectedSeat.indexOf(seatid) == -1){
                            if (selectedSeat.length < {{selectionLimit}}){            
                                selectedSeat.push(seatid);
                                event.target.classList.toggle("selected");
                                if(seatType=="CLASSIC"){
                                    price += {{seatPrice[0].CLASSIC | float}}
                                } else if(seatType=="BUSINESS"){
                                    price += {{seatPrice[0].BUSINESS | float}}
                                } else if(seatType=="EXCLUSIVE"){
                                    price += {{seatPrice[0].EXCLUSIVE | float}}
                                } else{
                                    Swal.fire({
                                        title: "Invalid price value",
                                        width: 600,
                                        padding: "3em",
                                        color: "#fff",
                                        background: `rgba(0,0,0,0.5) url('{{url_for('static', filename='img/vivek.jpg')}}') no-repeat center center / contain`
                                    });
                                }
                            } else {
                                Swal.fire({
                                    title: "Cannot select more than this",
                                    width: 600,
                                    padding: "3em",
                                    color: "#fff",
                                    background: `rgba(0,0,0,0.5) url('{{url_for('static', filename='img/vivek.jpg')}}') no-repeat center center / contain`
                                });
                            }
                        } else{
                            selectedSeat.splice(selectedSeat.indexOf(seatid), 1);
                            event.target.classList.toggle("selected");
                            if(seatType=="CLASSIC"){
                                price -= {{seatPrice[0].CLASSIC | float}}
                            } else if(seatType=="BUSINESS"){
                                price -= {{seatPrice[0].BUSINESS | float}}
                            } else if(seatType=="EXCLUSIVE"){
                                price -= {{seatPrice[0].EXCLUSIVE | float}}
                            } else{
                                Swal.fire({
                                    title: "Invalid price value",
                                    width: 600,
                                    padding: "3em",
                                    color: "#fff",
                                    background: `rgba(0,0,0,0.5) url('{{url_for('static', filename='img/vivek.jpg')}}') no-repeat center center / contain`
                                });
                            }
                        }
                    }
                    totalPrice.innerHTML = price;
                });
            });
            document.getElementById("payment").addEventListener("click", function(){
                bookSeats(selectedSeat, price);
            })
        }
        document.addEventListener("DOMContentLoaded", function() {
            getSeat()
        });
    </script>
{% endblock %}