{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for msg in messages %}
            <li>{{msg}}</li>
        
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>Change Password</h1>
<form action="{{url_for('authentication.change_password')}}" method="POST">
    Password <input type="password" name="password"><br>
    New Password <input type="password" name="newPassword"><br>
    Confirm Password <input type="password" name="confirmPassword"><br>
    <button type="submit">Change</button>
</form>

<a href="{{url_for('authentication.logout')}}">Logout</a><br>
<a href="{{url_for('authentication.profile')}}">Profile</a><br>
<a href="{{url_for('authentication.update')}}">Update</a><br>
<a href="{{url_for('authentication.delete')}}">Delete</a><br>