{% extends 'base.html' %}

{% block styles %}
.container{
    padding:70px;
    margin:0 20px;
    font-family:Poppins;
    height:120vh;
}
.form-container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:center;
}

form{
    width:90%;
}
form input{
    width:100%;
    box-sizing:border-box;
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
label{
    display:block;
    margin-bottom:0.2em;
    color:#333232;
    font-weight:300;
}
form button{
    width:100%;
    padding:10px;
    background-color: #242424;
    color: white;
    font-size:16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
}
form button:hover{
    background-color:#333232;
}

@media screen and (max-width:600px){
    *{
        font-size:13px;
    }
    .container{
        padding:70px 10px 10px 10px;
    }
    form{
        width:100%;
    }

}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Change Password</h1>
    <a href="{{url_for('authentication.profile')}}"> < Back</a><br>
    <div class="form-container">
        <form action="{{url_for('authentication.change_password')}}" method="POST">

            <label>Password</label> <input type="password" name="password"><br>
            <label>New Password</label> <input type="password" name="newPassword"><br>
            <label>Confirm Password</label> <input type="password" name="confirmPassword"><br>
            <button type="submit">Change</button>
        </form>
    </div>
</div>
{%endblock%}