{% extends 'base.html' %}

{% block styles %}
.container{
    margin:20px;
}
{% endblock %}

{% block content %}

<div clas="container">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for msg in messages %}
            <li>{{msg}}</li>
        
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>Confirm delete, {{user.username}}?</h1>
<form action="{{url_for('authentication.delete')}}" method="post">
    Confirm Password: <input type="password" name="password">
    <button type="submit">Delete</button>
</form>

<a href="{{url_for('authentication.logout')}}">Logout</a><br>
<a href="{{url_for('authentication.update')}}">Update</a><br>
<a href="{{url_for('authentication.change_password')}}">Change Password</a><br>
<a href="{{url_for('authentication.profile')}}">Profile</a><br>
</div>
{% endblock %}