{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('authentication.static', filename="css/login.css")}}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="form-container">
        <h1>Login</h1>
        <form action="{{url_for('authentication.login')}}" method="POST">
            <label>Email</label> <input type="email" name="email"><br>
            <label>Password<label> <input type="password" name="password"><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="right-side">
        <div class="register-text">New to ticket? <span>Signup now</span></div>
        <a href="{{url_for('authentication.create_user')}}">Register here</a>
        </a>
    </div>
</div>

{% endblock %}