{% extends 'base.html' %}

{% block styles %}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.container{
    margin: 0 20px;
    display:flex;
    height: 85vh;
    font-family:poppins;
}
.left-side{
    width:20%;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow-y:auto;
    background-color: #242424;
    color:#ddd;
}

.left-side h2{
    margin-top:0;
    width:100%;
    background-color:white;
    color:black;
    text-align: center;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
}
.section{
    background-color: #333;
    width: 100%;
    margin:3px 0;
}
.section-item{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.section-item h3{
    margin: 2px 0;
    width:100%;
    text-align: center;
    padding:0;
    font-family: Roboto, sans-serif;
    border-bottom: 1px solid #555;
    background-color: #666;
}
.section-item a{
    text-decoration: none;
    color:white;
    margin: 5px 0;
    padding: 5px 10px;
}
.section-item a:hover{
    background-color: #444;
    color:#fff;
}
.right-side{
    padding: 0 20px;
    width:80%;
}
{% block css %}{% endblock %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="left-side">
        <h2>Quick Links</h2>
        <div class="section">
            <div class="section-item">
                <a href="{{url_for('authentication.home')}}">Home</a>
            </div>
        </div>
        <div class="section">
            <div class="section-item">
                <h3>Authentication</h3>
                <a href="{{url_for('authentication.change_password')}}">Change Password</a>
                <a href="{{url_for('authentication.delete')}}">Delete</a>
            </div>
        </div>
    </div>
    <div class="right-side">
       {% block admin %}{% endblock%}
    </div>
</div>
{% endblock %}