{% extends 'base.html' %}

{% block styles %}
.profile-container{
    width:100%;
    background-color: #444;
    height:100vh;
    font-family:Poppins;
}
.profile-container h2{
    padding:20px;
}
.profile-container p{
    padding: 0 20px;
    margin-bottom:10px;
    font-size: 15px;
    font-weight: 500;
}
.profile-container p span{
    font-style: italic;
    font-weight: 300;
}
.profile-container .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-container a{
    width: fit-content;
    text-decoration: none;
    color:white;
    margin: 5px 0;
    padding: 5px 10px;
}
.profile-container a:hover{
    background-color: #555;
    color:#fff;
}

.dashboard{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
}
.widget{
    width:20%;
    margin: 5px 20px;
    height:fit-content;
    padding:10px;
    background-color:#333;
    display:flex;
    justify-conten:center;
    align-items:center;
    flex-direction:column;
}
.widget .title{
    font-size:18px;
    font-weight: 400;
    font-family: Roboto;
    margin: 2px 0;
}
.widget .information{
    font-size:30px;
    margin: 2px 0;
}
.widget .subinfo{
    font-size:9px;
    width:100%;
    display:flex;
    justify-content:flex-end;
}
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h2>Welcome, {{user.name}}</h2>

        <div class="dashboard">
            <div class="widget">
                <p class="title">Ticket</p>
                <p class="information">90+</p>
                <span class="subinfo">Last 30 days</span>
            </div>
        </div>
    </div>
{%endblock%}