{% extends 'admin.html' %}

{% block css %}
.form-container {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    width: 80%; 
    margin: auto;
}

form {
    width: 100%; 
}

form input,
form select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #242424;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
}

form button:hover {
    background-color: #333232;
}

form label {
    display: block;
    margin-bottom: 0.2em;
    color: #333232;
    font-weight: lighter;
}  background-color: #944e4e;


{% endblock %}

{% block admin %}
    <div class="form-container">
        <h1>Edit Price</h1>
        <form action={{url_for("schedule.edit_price",id=price.uniqueid)}} method="POST">

            Name
            <input type="name" name="name" value={{price.name}}>
            <br><br>

            Seats
            <div class="seats">
            {% for key, value in seatType %}
                {% if key != "GAP" %}
                    {{key}} Price <input type="number" step="0.1" name="price_{{key}}" 
                        value="{{price.get(key)}}"
                    >
                    <br><br>
                {% endif %}
            {% endfor %}
            </div><br>
            Status
            <select name="status">
            {% for name, value in priceStatus %}
                <option value="{{name}}"
                    {% if name == price.status %}
                        selected
                    {% endif %}
                >{{name}}</option>
            {% endfor %}
            </select>
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
{%endblock%}
