<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}ticket</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
  <script src="{{url_for('static',filename='js/sweetalert2@11.js')}}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename="css/base.css")}}">
  <style>
    {%block styles%}{% endblock %}
  </style> 

  {%block head%}{%endblock%}
</head>
<body>
  <header>
    <div class="navbar">
        <a href="{{url_for("home.index")}}" class="navbar-brand">tickets</a>
        <ul class="nav-items">
            <li><a href="{{url_for("home.index")}}">Home</a></li>
            {% if session['user'] %}
              <li><a href="{{url_for("ticket.mytickets")}}">Tickets</a></li>
              <li><a href="{{url_for("authentication.profile")}}">Welcome,&nbsp;{{session['user']}}</a></li>
              <li><a href="{{url_for("authentication.logout")}}" class="login-btn">Logout</a></li>
            {%else%}
              <li><a href="{{url_for("authentication.login")}}" class="login-btn">Login</a></li>
            {%endif%}
        </ul>
    </div>
    <div class="navbar-mobile-parent">
        <div class="navbar-mobile">
            <a href="{{url_for("home.index")}}" class="navbar-brand">tickets</a>
            <div class="">
                <a class="nav-toggle" id="nav-toggle">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="collapse-navbar" id="collapse-navbar">
          <ul class="nav-items">
            <li><a href="{{url_for("home.index")}}">Home</a></li>
            {% if session['user'] %}
              <li><a href="{{url_for("ticket.mytickets")}}">Tickets</a></li>
              <li><a href="{{url_for("authentication.profile")}}">Welcome,&nbsp;{{session['user']}}</a></li>
              <li><a href="{{url_for("authentication.logout")}}" class="login-btn">Logout</a></li>
            {%else%}
              <li><a href="{{url_for("authentication.login")}}" class="login-btn">Login</a></li>
            {%endif%}
        </ul>
        </div>
    </div>
  </header> 
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            {% if loop.index <= 1 %}
                <script type="text/javascript">
                    console.log("{{msg}}");
                    Swal.fire({
                        title: "{{msg}}",
                        width: 600,
                        padding: "3em",
                        color: "#fff",
                        background: `rgba(0,0,0,0.5) url('{{url_for('static', filename='img/vivek.jpg')}}') no-repeat center center / contain`
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
    {% block content %}{% endblock %}
    <footer>
      <p class="footer">With ❤️ from <span class="brand">tickets</span></p>
    </footer>
    <script src="{{url_for('static', filename="js/script.js")}}"></script>
</body>
</html>