{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for msg in messages %}
            <li>{{msg}}</li>
        
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form action={{url_for('authentication.login')}} method="post">
    Email:&nbsp<input type="email" name="email" value={{values.email}}><br>
    Password:&nbsp<input type="Password" name="password"><br>
    <button type="submit">Login</button>
</form>
<a href={{url_for('authentication.create_user')}}>Register</a>