{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for msg in messages %}
            <li>{{msg}}</li>
        
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form action={{url_for('authentication.create_user')}} method="post">
    Name:&nbsp<input type="text" name="name" value={{values.name}}><br>
    Email:&nbsp<input type="email" name="email" value={{values.email}}><br>
    Username:&nbsp<input type="name" name="username" value={{values.username}}><br>
    Password:&nbsp<input type="Password" name="password"><br>
    <button type="submit">Register</button>
</form>
<a href={{url_for('authentication.login')}}>Already User ? Login here</a>
